.widget {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 10px;
  // max-width: 600px;
  width: 100%;
  margin-bottom: 10px;
}

.category-widget {
  &__form {
    margin-top: 15px;
  }
}